* {
  font-family: 'Merriweather', serif;
  font-family: 'Oswald', sans-serif;
  font-family: "Prompt", sans-serif;
  animation: fadeInUp 2s ease-out forwards;
}


.bg::before {
content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}



.bg {
position: relative;
background-image: url(background.jpg);
margin: 0;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
justify-content: center;
align-items: center;
}

@keyframes fadeInUp {
  0% {
      opacity: 0; /* Fully transparent */
      transform: translateY(-20px); /* Move up */
  }
  100% {
      opacity: 1; /* Fully opaque */
      transform: translateY(0); /* Final position */
  }
}

.logingbutton{
  background-color: orange;
  border: 0;
  border-radius: 2rem;
  font-size: 30px;
  font-weight: bold;
  padding: 9px 20px;
}


.bg-content {

position: relative;
color: aliceblue;
text-align: center;
padding: 13rem;
justify-content: center;
font-family: 'Merriweather', serif;
font-family: 'Oswald', sans-serif;
font-family: "Prompt", sans-serif;
z-index: 1;
}

@media (max-width: 1024px) {
  .bg {
    background-position: center top;
  }

  .bg-content {
    padding: 4rem; /* Reduced padding for tablets */
  }

  .logingbutton {
    font-size: 25px; /* Smaller font for tablets */
    padding: 12px 25px;
  }
}

/* For screens smaller than 768px (portrait tablets and larger phones) */
@media (max-width: 768px) {
  .bg-content {
    padding: 3rem; /* Further reduce padding for tablets in portrait mode */
  }

  .logingbutton {
    font-size: 20px; /* Adjust button font size */
    padding: 10px 20px;
  }
}

/* For screens smaller than 480px (mobile devices) */
@media (max-width: 480px) {
  .bg-content {
    padding: 2rem; /* Minimal padding for mobile devices */
  }

  .logingbutton {
    font-size: 18px; /* Smaller button for mobile */
    padding: 8px 16px;
  }
}

/* Cards section */

.section-title {
display: flex;
justify-content: center;
padding-bottom: 1em;
}

.card-section {
margin: 0;
background-color: #f8f9fa;
padding: 60px 0;
border-radius: 40px;
margin-top: 50px;
transition: all 0.3s ease-in-out;
}

.card {
background-color: #ffffff;
border-radius: 20px;
box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
padding: 30px;
height: 100%;
}

.card-icon {
background-color: #ff8800;
color: #ffffff;
border-radius: 50%;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 30px;
}

.card-title {
font-size: 28px;
font-weight: bold;
margin-bottom: 20px;
}

.card-text {
font-size: 18px;
line-height: 1.5;
}

.card:hover {
transform: translateY(-10px);
transition: all 0.3s ease-in-out;
box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}



@media (max-width: 768px) {
.card-body {
  text-align: center;
}
}

/*Stats sectio*/


.stats-wrapper {
display: flex;
justify-content: space-around;
margin: 20px 0;
}

.stats-stat {
text-align: center;
}

.stats-number {
font-size: 24px;
font-weight: bold;
}

.stats-description {
font-size: 14px;
color: #666;
}

@media (max-width: 768px) {
  .stats-wrapper {
    flex-direction: column;
  }
  .stats-stat{
    margin-top:10px;
  }
}



  /* security and privacy section */
  .security-privacy {
    background-color: #f5f5f5;
    padding: 80px 0;
    border-radius: 20px;
  }
  
  .security-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  } 
  
  .column-right {
    width: 100%;
    text-align: center;
    align-items: center;
    // padding-right: 15px;
    // padding-left: 15px;
  }
  
  .column-left {
    width: 100%;
    // padding-right: 15px;
    // padding-left: 15px;
    text-align: center;
    align-items: center;
  }
  
  .security-privacy h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: #292929;
  }
  
  .security-privacy p {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
  }
  
  .security-privacy .call-to-action h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #292929;
  }
  
  .security-privacy .call-to-action p {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 30px;
  }
  
  .security-privacy .cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #00ADEF;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
  }
  
  .security-privacy .cta-button:hover {
    background-color: #0077b3;
  }
  
  .security-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .security-image-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
  }
  
  


  .crypto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    overflow-x:auto;
  }
  
  .crypto-table {
    width: 85%;    
    margin:25px auto ;
    border-collapse: collapse;
  }
  
  .crypto-table thead th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
  }
  
  .crypto-table tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .crypto-name {
    font-weight: bold;
  }
  
  .crypto-value {
    font-family: monospace;
  }
  
  .trade-button {
    color: #fff;
    background-color: orange;
    border-radius: 0.3em;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .trade-button:hover {
    background-color: #DE8B4D;
  }

