<app-navbar></app-navbar>
    <div class="container-fluid" class="bg">
        <div class="bg-content">
            <h1>Get ahead in the crypto game.</h1>
            <h3>Trade with our platform.</h3><br>
            <button class="logingbutton" routerLink="{{authService.isLoggedIn() ? '/trading' : '/registration' }}">Get Started</button>
        </div>
    </div>


    <!--Cards section-->

        <section class="card-section">
          <div class="container">
            <h2 class="section-title">Why to choose us?</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <div class="card-icon">
                    <i class="fas fa-shield-alt"></i>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Secure and Trusted</h3>
                    <p class="card-text">We take security seriously and have implemented the latest measures to ensure the safety of your funds and information.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-icon">
                    <i class="fas fa-credit-card"></i>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Easy and Fast Transactions</h3>
                    <p class="card-text">Our platform offers quick and easy transactions so you can buy and sell your favorite cryptocurrencies in no time.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-icon">
                    <i class="fas fa-headset"></i>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">24/7 Support</h3>
                    <p class="card-text">Our dedicated support team is available 24/7 to assist you with any questions or concerns you may have.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>



        <!--Stats-->

        <section class="stats-section">
          <div class="stats-wrapper">
            <div class="stats-stat">
              <div class="stats-number">${{stat1}}B</div>
              <div class="stats-description">Quarterly volume traded</div>
            </div>
            <div class="stats-stat">
              <div class="stats-number">{{stat2}}+</div>
              <div class="stats-description">Countries supported</div>
            </div>
            <div class="stats-stat">
              <div class="stats-number">{{stat3}}M+</div>
              <div class="stats-description">Verified users</div>
            </div>
          </div>
        </section>


<div class="crypto-table-container">
  <table class="crypto-table">
    <thead>
      <tr>
        <th>Cryptocurrency</th>
        <th>Value (USDT)</th>
        <th>Trade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let crypto of cryptos">
        <td>
          <div class="crypto-name">{{ crypto.crypto_name }}</div>
        </td>
        <td class="crypto-value">{{ crypto.value_usdt }} US</td>
        <td>
          <button routerLink="/trading" class="trade-button">Trade</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-footer></app-footer>
