<app-navbar (languageChanged)="onLanguageChange($event)"></app-navbar>
    <div class="bg">
        <div class="bg-content">
            <h1>{{'get_ahead_in_the_crypto_game' | translate}}.</h1>
            <h3>{{'trade_with_our_platform' | translate}}.</h3><br>
            <button class="logingbutton" routerLink="{{authService.isLoggedIn() ? '/trading' : '/registration' }}">{{'get_started' | translate}}</button>
        </div>
        <div class="bg-content">
          <video *ngIf="lang=='en'" #tradeVideoEn src="assets/Kiopektrader_english.mp4" muted autoplay controls>Trade</video>
          <video *ngIf="lang=='bg'" #tradeVideoBg src="assets/bulgarian_kiopektrader.mp4" muted autoplay controls>Trade</video>
      </div>
    </div>


    <!--Cards section-->

        <section class="card-section">
          <div class="container">
            <h2 class="section-title">{{'why_to_choose_us' | translate}}</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <div class="card-icon">
                    <i class="fas fa-shield-alt"></i>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">{{'secure_and_trusted' | translate}}</h3>
                    <p class="card-text">{{'secure_and_trusted_p' | translate}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-icon">
                    <i class="fas fa-credit-card"></i>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">{{'easy_and_fast_transactions' | translate}}</h3>
                    <p class="card-text">{{'easy_and_fast_transactions_p' | translate}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-icon">
                    <i class="fas fa-headset"></i>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">{{'24/7_support' | translate}}</h3>
                    <p class="card-text">{{'24/7_support_p' | translate}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>



        <!--Stats-->

        <section #statsSection class="stats-section">
          <div class="stats-wrapper">
            <div class="stats-stat">
              <div class="stats-number">${{stat1}}B</div>
              <div class="stats-description">{{'volume_traded' | translate}}</div>
            </div>
            <div class="stats-stat">
              <div class="stats-number">{{stat2}}+</div>
              <div class="stats-description">{{'countries_supported' | translate}}</div>
            </div>
            <div class="stats-stat">
              <div class="stats-number">{{stat3}}M+</div>
              <div class="stats-description">{{'verified_users' | translate}}</div>
            </div>
            </div>
        </section>


<div class="crypto-table-container">
  <table class="crypto-table">
    <thead>
      <tr>
        <th>{{'cryptocurrency' | translate}}</th>
        <th>{{'value' | translate}} (USDT)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let crypto of cryptos">
        <td>
          <div class="crypto-name">{{ crypto.crypto_name }}</div>
        </td>
        <td class="crypto-value">{{ crypto.value_usdt }} US</td>
      </tr>
    </tbody>
  </table>
</div>
<app-footer></app-footer>
