<body>
<app-navbar></app-navbar>
<div class="spinner-container" *ngIf="isLoading">
<div class="spinner">
</div>
  <p >Processing transaction...please wait...</p>
</div>
<div class="container">
  <div class="deposit-page">
    <div class="deposit-header">
      <h2>{{'deposit' | translate}}</h2>
    </div>
    <form class="deposit-form">
      <label for="deposit-amount">{{'deposit_amount' | translate}}:</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="number" class="form-control" id="deposit-amount" name="amount" [(ngModel)]="dep.deposit_amount" (ngModelChange)="depositChange($event)" required>
      </div>
      <h6 id="deposit_warning" *ngIf="deposit_listener !== undefined && deposit_listener < min_deposit">You need to deposit minimum {{min_deposit}} $!</h6>
      <button class="btn btn-primary mt-3" (click)="deposit()">{{'deposit' | translate}}</button>
    </form>
  </div>
</div>



</body>
<app-footer></app-footer>