<body>
<app-navbar></app-navbar>
<div class="profile-container">
  <div class="profile-header">
    <h2>{{'welcome_back' | translate}}, {{ (authService.currentUser$ | async)?.username }}</h2>
    <a (click)="deleteUser(public_address)" class="user-link">{{'delete_account' | translate}}</a>
    <a href="" (click)="logout()" class="logout-link">{{'logout' | translate}}</a>
  </div>
  <div class="profile-body">
    <div class="wallet-container">
      <h3>{{'your_wallet' | translate}}</h3>
      <div class="wallet-info">
        <p>{{'account_cost' | translate}}: {{total | number: '1.2-2'}} $ <button class="send-button" routerLink="/deposit">{{'deposit' | translate}}</button></p>
        <p>{{'address' | translate}}: {{ (authService.currentUser$ | async)?.public_address }} </p>
      </div>
      <button class="send-button" routerLink="/trading">{{'trade_crypto_now' | translate}}</button>
    </div>
    <div class="trade-container">
      <h3>{{'owned_cryptocurrencies' | translate}}</h3>
      <table>
        <thead>
          <tr>
            <th>{{'cryptocurrency' | translate}}</th>
            <th>{{'crypto_amount' | translate}}</th>
            <th>{{'price_for_1' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let wallet of wallets">
            <td>{{wallet.crypto_name}}</td>
            <td>{{wallet.amount | number: '1.2-10'}}</td>
            <td>{{wallet.value_usdt}}$</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="trade-container">
        <button [ngClass]="{'active' : isSentTransactionsView}" class="transactions-buttons" (click)="showSentTransactions()" type="button">{{'sent' | translate}}</button>
        <button [ngClass]="{'active' : !isSentTransactionsView}" class="transactions-buttons" (click)="showRecievedTransactions()" type="button">{{'recieved' | translate}}</button>
        <h3>{{ (isSentTransactionsView ? 'sent_crypto_transactions' : 'recieved_crypto_transactions') | translate }}</h3>
      <h5 *ngIf="transactionsFilter.length == 0">No transactions yet</h5>
      <table *ngIf="transactionsFilter.length >= 1">
        <thead>
          <tr>
            <th>{{'transaction_id' | translate}}</th>
            <th>{{'cryptocurrency' | translate}}</th>
            <th>{{'amount' | translate}}</th>
            <th>{{ (isSentTransactionsView ?  'reciever' : 'sender') |translate }}</th>
            <th>{{'date' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactionsFilter">
            <td>{{transaction.id}}</td>
            <td>{{transaction.crypto_name}}</td>
            <td>{{transaction.amount| number: '1.2-10'}}</td>
            <td>{{isSentTransactionsView ?  transaction.public_address_reciever : transaction.public_address_sender}}</td>
            <td>{{transaction.date | date: 'HH:mm:ss dd.MM.yyyy'}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <form [formGroup]="updateForm" (ngSubmit)="updateUser()" class="update-form">
      <h2>{{'update_user_credentials' | translate}}</h2>
      <label>{{'username' | translate}}:</label>
      <input type="text" formControlName="username" name="username">
      <br>
      <label>{{'password' | translate}}:</label>
      <input type="password" formControlName="password" name="password">
      <br>
      <label>{{'email' | translate}}:</label>
      <input type="email" formControlName="email" name="email">
      <br>
      <button type="submit">{{'submit' | translate}}</button>
    </form>
  </div>
</div>


</body>